@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido, @Model.Username</h1>
    <p class="lead">Has iniciado sesión correctamente.</p>
</div>
